django_project/blog/__pycache__/
django_project/blog/migrations/
django_project/django_project/__pycache__/
django_project/users/__pycache__/

/django_project/users/__pycache__/
/django_project/users/migrations
django_project/db.sqlite3
