{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1><label for="project-select">Choose a Project:</label></h1>
  <form method="post" novalidate">
    {% csrf_token %}
    <select name="project=select" id="id" onchange="this.form.submit()">
      <option value="0" selected>All Projects</option>
      {% for project in projects %}
        <option value="{{ project.id }}">{{ project.name }}</option>
      {% endfor %}
    </select>
  </form>
  <ul>
  {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <small>Published on {{ post.published_at|date:'M d, Y' }} by {{ post.author|title }}&nbsp-&nbsp {{ post.project }}</small>
    <p>{{ post.content }}</p>

    {% if request.user.is_authenticated and request.user == post.author %}
      <p>
        <a class="btn btn-primary" href="{% url 'post-edit' post.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'post-delete' post.id %}">Delete</a>
      </p>
    {% endif %}
  {% endfor %}
{% endblock %}
